<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring-2-Hellomvc:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_2_Hellomvc_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring-2-Hellomvc" />
        </element>
      </element>
    </root>
  </artifact>
</component>